/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

}
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
